.header{
    background: $secondary-color;

}
.header__logo{
    padding: 2rem;
    text-transform: uppercase;
    color: $primary-color-dark;
    font-size: 2rem;
    font-weight: 900;
}

.search {
    flex: 0 0 40%;
    display: flex;
    justify-content: center;
    align-items: center;


    &__input {
        font-family: inherit;
        font-size: inherit;
        color: inherit;
        background: gray;
        border: none;
        padding: .7rem 2rem;
        border-radius: 2rem;
        width: 90%;
        transition: all .2s;
        margin-right: -3rem;

        &:focus {
            width: 100%;
            background: var(--color-grey-light-3);
            outline: none;
        }

        &::-webkit-input-placeholder {
            color: var(--color-grey-light-4);
            font-weight: 100;
        }
    }

    &__button {
        background: transparent;
        border: none;
        transition: all .2s;
        fill: currentColor;
        cursor: pointer;

        &:focus {
            outline: none;
        }

        &:active {
            transform: translateY(2px)
        }
    }

    &__icon {
        height: 2rem;
        width: 2rem;
    }

}

//USER NAVIGATION
.user-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    margin-left: 2rem;
    font-weight: 500;

    &__member{
        display: flex;
        align-items: center;
        position: relative;
        color: $primary-color-light;
        font-weight: 900;
        font-size: 1.8rem;
        align-self: stretch;
        background: $primary-color;
        padding: 0 1rem;
}

    &>* {
        padding: 0 2rem;
        cursor: pointer;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &>*:hover,
     {
        background: $primary-color;
        color: $primary-color-light;
    }

    &__icon-box {
        display: flex;
        align-items: center;
        position: relative;

    }

    &__icon {
        height: 1.6rem;
        width: 1.6rem;
        fill: black;
    }

}

// SIDEBAR
.side-nav {
    font-size: 1.4rem;
    list-style: none;
    background: $primary-color;
    
    &__item {
        margin-top: 1rem;
        position: relative;
        
        
        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 3px;
            background: $primary-color;
            transform: scaleY(0);
            transition: transform .2s,
            width .1s cubic-bezier(1, 0, 0, 1) .2s,
            background .3s;
        }
        
        &:hover::before,
        &--active::before {
            transform: scaleY(1);
            width: 100%;
        }
        
        &:active::before {
            background: $primary-color-dark;
        }
    }
    
    &__link:link,
    &__link:visited {
        display: block;
        color: $primary-color-dark;
        text-decoration: none;
        align-self: stretch;
        text-transform: uppercase;
        font-weight: 400;
        display: flex;
        align-items: center;
        padding: .7rem 1.5rem;
        position: relative;
        z-index: 200;

    }


    &__icon {
        width: 2rem;
        height: 2rem;
        fill: currentColor;
        margin-right: 2rem;
    }

}
//MAIN

.main{
    background-image: linear-gradient(to right bottom, rgba($primary-color-light, .5%), rgba($primary-color, .9)), url(/img/cover.jpg);
    height: 70vh;
    background-size: cover;
    background-position: center;
    position: relative;

    &__text{
        position: absolute;
        top: 30%;
        left: 15%;
    }
    
    &__header{
        
        &-1{
            font-size: 2.5rem;
            text-transform: uppercase;
            letter-spacing: .3rem;
        }

        &-2{
            font-size: 2rem;
            font-weight: 500;
        }
    }

    &__secondary{
        margin-top: 3rem;
        text-align: center;
    }

    &__button{
        margin-right: 2rem;
        padding: 1rem 2rem;
        box-shadow: 0 1rem 2rem rgba($primary-color, .9);
        font-size: 1.5rem;
        border-radius: 1rem;
        outline: none;
        color: $primary-color-dark;
        background: $secondary-color;
        border: none;
        font-weight: 700;
        cursor: pointer;
    }
}

.footer{
    align-items: center;
    justify-items: center;
    text-align: center;
    background: $secondary-color;

    .list{
        display: flex;
        align-items: center;
        justify-items: center;
        justify-content: space-between;
        padding: 1rem 3rem;
        list-style: none;
        
        &__items{
            flex-direction: column;
            display: flex;
            padding: 1rem;
            font-size: 1.5rem;
            text-transform: uppercase;
            font-weight: 700;
        }
    }
}

